.mx-\[2px\] {
	margin-left: 0;
	margin-right: 0;
}

.mx-\[2px\] .px-1 {
	padding-left: 0;
	padding-right: 0;
}

section .flex:has(img.border-\[1px\]) {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

/* 行内代码 */
.code-font-family {
	font-family: Consolas, FMono-Regular, Menlo, PT Mono, Liberation Mono, Courier, monospace;
}

.code-inline-color {
	background-color: rgba(101, 117, 133, 0.16) !important;
	color: #a8b1ff;
	font-size: 0.875em !important;
	border-radius: 4px !important;
	transition: color 0.25s, background-color 0.5s;
	padding: 3px 6px !important;
}

/* 代码块 */
/* 注释文本颜色 */
.cm-s-ayu-dark span.cm-comment{
	color: #7e848f;
	font-style: italic;
}
